body {
  background-color: #FEDF5A;
}

/* Navbar styling */
nav {
  background-color: black !important;
}

img {
  height: 100px;
  width: 100px;
  border-radius: 300px;
}

.navItems {
  font-family: 'Outfit', sans-serif;
  font-weight: bold; 
}

.space {
  margin-right: 45px;
}

.text-white {
  color: white;
}

@media (max-width: 768px) {
  #burger-menu {
    background-color: white !important;
  }
}
/* End */

/* Our Menu Styling */
.ourMenu {
  height: 60px;
  background-color: black !important;
}

/* End */